* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

/* dark theme */

:root {
  --bg: #0f172a;
  --header-bg: #020617;
  --card-bg: #1e293b;

  --text: #f8fafc;
  --muted: #94a3b8;

  --accent: #38bdf8;
}


/* light theme */

body.light {
  --bg: #f8fafc;
  --header-bg: #ffffff;
  --card-bg: #e2e8f0;

  --text: #0f172a;
  --muted: #475569;

  --accent: #0ea5e9;
}

body {
    background-color: var(--bg);
    color: var(--text);
    overflow-x: hidden;
    padding-top: 80px;
}


header {
    position: fixed;  
    top: 0;
    width: 100%;
    height: 80px;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    transition: background-color 0.4s;
    border-bottom: 1px solid var(--text);
}

.loggo a {
     text-decoration: none;
     font-size: 28px;
     font-weight: bold;
     color: var(--accent);
    
}
.loggo a span {
    color: var( --text);
}

/* nav links */

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text);
    font-size: 20px;
    margin-left: 50px;
}
.nav-links a:hover {
    color: var(--accent);
}

/* icon */

.icon {
    display: flex;
    color: var(--text);
    gap: 8px;
    align-items: center;
}

.theme {
    font-size: 20px;
}
.theme:hover {
    border: 1px solid  #38bdf8;;
    padding: 5px;
}
.bar-icon {
    font-size: 24px;
    display: none;
}

/* hero  section */

.hero {
    min-height: 90vh;
    padding: 100px 35px;

}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-img {
    text-align: center;
}

.hero-img img {
    width: 100%;
    max-width: 600px;
    border: 5px solid var(--accent);
    border-radius: 14px;
}

/* footer */ 


.footer {
    padding: 20px;
    background-color: var(--bg);
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social a {
    text-decoration: none;
    gap: 15px;
    color: var(--text);
}



/* media query */ 

@media (max-width:850px){
    header {
        padding: 20px 20px;
    }
    .bar-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 80px;
        right: -260px;
        width: 260px;
        height: 100vh;
        flex-direction: column;
        background-color: var(--header-bg);
        text-align: center;
        transition: all 0.35s ease-in-out;
    }
    .nav-links a {
        font-size: 22px;
        padding: 20px 30px;
        margin: 0;
    }
    .nav-links.active {
        right: 0px;
    }

    /* hero section */ 
    .hero-container {
        flex-direction: column;

    }

    .hero-img {
        width: 100%;
    }

    .hero-text {
        width: 100%;
    }
}