* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

/* dark theme */

:root {
  --bg: #0f172a;
  --header-bg: #020617;
  --card-bg: #1e293b;

  --text: #f8fafc;
  --muted: #94a3b8;

  --accent: #38bdf8;
}

/* light theme */

body.light {
  --bg: #f8fafc;
  --header-bg: #ffffff;
  --card-bg: #e2e8f0;

  --text: #0f172a;
  --muted: #475569;

  --accent: #0ea5e9;
}

body {
    background-color: var(--bg);
    color: var(--text);
    overflow-x: hidden;
    padding-top: 80px;
}

header {
    position: fixed;  
    top: 0;
    width: 100%;
    height: 80px;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    transition: background-color 0.4s;
    border-bottom: 1px solid var(--text);
}

.loggo a {
     text-decoration: none;
     font-size: 28px;
     font-weight: bold;
     color: var(--accent);
    
}
.loggo a span {
    color: var( --text);
}

/* nav links */

.nav-links {
    display: flex;
    gap: 20px;
}
.nav-links a {
    text-decoration: none;
    color: var(--text);
    font-size: 20px;
    margin-left: 50px;
}
.nav-links a:hover {
    color: var(--accent);
}

/* icon */

.icon {
    display: flex;
    color: var(--text);
    gap: 8px;
    align-items: center;
}

.theme {
    font-size: 20px;
}
.theme:hover {
    border: 1px solid  #38bdf8;;
    padding: 5px;
}
.bar-icon {
    font-size: 24px;
    display: none;
}

/* hero section */

.hero {
    min-height: 90vh;
    padding: 80px 35px;
}
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.hero h1 {
    font-size: 52px;
    margin-bottom: 20px;
}

.hero h3 {
    font-size: 19px;
    color: var(--accent);
    margin: 15px 0;
}

.hero p {
    max-width: 600px;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.7;
}

.hero-button {
    display: inline-block; 
    background-color: var(--accent);
    margin-top: 20px;
    padding: 16px 25px;
    text-decoration: none;
    border-radius: 5px;
    text-decoration: none;
    color: var(--text);
    font-size: 16px;
}

/* image */

.hero-img {
    text-align: center;
}

.hero-img img {
    width: 300px;
    border: 4px solid var(--accent);
    border-radius: 50%;

}

/* about me */


.about {
    text-align: center;
    padding: 80px 20px;
    line-height: 1.2;
}
.about h2 {
    margin-top: 10px;
}

/* skills */

.skills {
     padding: 80px 20px;

}

.skills h2 {
    text-align: center;
    margin: 10px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
    gap: 35px;

}

.card {
    background:var(--card-bg);
    padding:30px;
    border-radius:14px;
    text-align:center;
    transition:.3s;

}

.card:hover{
  transform:translateY(-8px);
  box-shadow:0 10px 30px rgba(0,0,0,.3);
}

.card i{
  font-size:40px;
  color:var(--accent);
  margin-bottom:15px;
}

.card h3{
  font-size:20px;
  margin-bottom:10px;
}

.card span{
  font-size:14px;
  color:var(--muted);
}

/* projects */

.projects {
    background-color: var(--bg);
    padding: 80px 20px;
}
.projects h2 {
    text-align: center;
}
.p-card {
    background-color: var(--card-bg);
    padding: 30px;
    border-radius: 15px;
    margin: 10px 0;
}
.p-card:hover{
  transform:translateY(-8px);
  box-shadow:0 10px 30px rgba(0,0,0,.3);
}
.p-card h3 {
    color: var(--text);
    margin-bottom: 8px;
}

.p-card p {
    color: var(--text);
    margin-bottom: 20px;
}
.p-card a {
    text-decoration: none;
    color: var(--text);
    padding: 10px 18px;
    background-color: var(--accent);
    border-radius: 5px;
    margin: 20px 0;
    text-align: center;
}

/* why hire me */ 


.hire {
    padding: 60px 20px;
    text-align: center;
}
.hire h2 {
    margin-bottom: 10px;
}

.list li{
    margin-bottom: 10px;
    list-style-type: none;
    font-size: 18px;
}

/* intern */

.intern {
    padding: 80px 20px;
    text-align: center;
    background-color: var(--card-bg);
}

.intern h2 {
    margin-bottom: 10px;

}

.intern p {
    margin-bottom: 10px;
}

.intern-button {
    display: inline-block;
    padding: 14px 28px;
    background-color: var(--accent);
    color: var(--text);
    margin: 10px 0;
    border-radius: 15px;
    text-decoration: none;

}


/* footer */


.footer {
    padding: 20px;
    background-color: var(--bg);
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social a {
    text-decoration: none;
    gap: 15px;
    color: var(--text);
}






/* media query */


@media (max-width:850px){
    header {
        padding: 20px 20px;
    }
    .bar-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 80px;
        right: -260px;
        width: 260px;
        height: 100vh;
        flex-direction: column;
        background-color: var(--header-bg);
        text-align: center;
        transition: all 0.35s ease-in-out;
    }
    .nav-links a {
        font-size: 22px;
        padding: 20px 30px;
        margin: 0;
    }
    .nav-links.active {
        right: 0px;
    }
    .hero-container {
        flex-direction: column;
        text-align: center;
    }
    .hero-text {
        width: 100%;
    }
    .hero-img {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}




